{{!-- The following component displays Ember's default welcome message. --}}
<nav class="navbar navbar-inverse bg-primary">
{{!-- Feel free to remove this! --}}
<ul class="nav nav-tabs">
  <li role="presentation" >{{#link-to "home"}}Home{{/link-to}}</li>
  <li role="presentation">{{#link-to "map"}}Profile{{/link-to}}</li>
  <li role="presentation">{{#link-to "login"}}Messages{{/link-to}}</li>
</ul>
</nav>
{{outlet}}